html {
    font-size: 24px;
}

body {
    margin: 0 auto;
    width: 100%;
       background: #FFFFFF;
}

.header {
    position: absolute;
    width: 100%;
    height: 89px;
    left: 0px;
    top: 0px;
    background: #590BFF;
}

.header__address-book {
    position: relative;
    width: calc (403/1440*100vw);
    height: 63px;
    left: 29px;
    top: 13px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 2.25rem;
    line-height: 0px;
    color: #FFFFFF;
}

.sidebar {
    position: absolute;
    width: calc(282/1440*100vw);
    height: 457px;
    left: 5px;
    top: 136px;
    border-right: 2px solid #C4C4C4;

}


.sidebar__header {
    position: absolute;
    width: calc(240/1440*100vw);
    height: 33px;
    left: 20px;
    top: 15px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 1.17rem;
    line-height: 33px;
    color: #000000;
}

.sidebar__links-item {
    position: relative;
    width: calc(206/1440*100vw);
       left: 20px;
    top: 71px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 1rem;
    line-height: 50px;
    text-decoration-line: underline;
    color: #FF710B;
}

.content {
    position: relative;
    width: calc(1080/1440*100vw);
    left: 335px;
    top: -98px;
    background: #E5E5E5;

}

.content__header {
    position: relative;
    width: 100%;
    height: 41px;
    left: 0px;
    background: #590BFF;
}

.content__header-firstletter {

    position: relative;
    width: calc(19/1440*100vw);
    height: 33px;
    left: 13px;
    top: 4px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 1.17rem;
    line-height: 33px;
    color: #FFFFFF;
}

.content__catalog {
    width: calc(132/1440*100vw);
        font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 1.17rem;
    line-height: 33px;
    color: #000000;

}